@import url("reset.css");
@import url("messages.css");
@import url("forms.css");

 /* put your styles in here */
h1 {font-size:2em;font-family:'Droid sans';}
h2 {font-family:'Droid sans';}
h3 {font-family:'Droid sans';}
h3 a {-webkit-box-shadow: 0px 0px 0px ;-moz-box-shadow: 0px 0px 0px ;box-shadow: 0px 0px 0px;color:#fff;font-size:11px;}
p {margin: 1em 0 1em 0;}

.shadow_2 {-webkit-box-shadow: 0px 0px 2px #000;-moz-box-shadow: 0px 0px 2px #000 ;box-shadow: 0px 0px 2px #000 ;}
.textshadow {text-shadow: 0px 0px 5px #000;filter: dropshadow(color=#000000, offx=0, offy=0);}
.textshadow_white {text-shadow: 0px 0px 5px #fff;filter: dropshadow(color=#000000, offx=0, offy=0);}

a {text-decoration:none;}
a.auth {background:pink;padding:10px;color:#444;border:solid 1px;}

body {
  background:#fff;
  font-family: sans-serif;
  text-align:center;
}

div#authenticate {padding:10px;margin-bottom:10px;}

header, section, footer {width:1000px; margin:0 auto 0 auto;text-align:left;}
section, footer {padding:10px 0 10px 0;}
section#popup {width:500px;}

header {background:#eee;}
  header a#logo {float:left;padding:5px;color:#444;padding:20px 0 20px 10px;font-size:2em;font-family:'Droid sans';font-weight:bold;}
    header a#logo h1 {color:#444;padding:20px 0 20px 10px;}
    
header nav {background:#ddd;clear:both;float:left;width:100%;}
  header nav ul,
  header nav ul li {float:left;}
  header nav ul li a {color:#444;padding:10px;display:block;}
  header nav ul li a:hover,
  header nav ul li a.selected {color:#fff; background:#444;}

section h2 {background:pink;padding:5px;margin-bottom:10px;}
section footer {background:none; height:auto;padding:0px;}
footer {background:#eee;height:80px;}

#left {float:left; width:255px;margin:0px 30px 0 0;}
#center {float:right; width:715px;}

.user_badge {width:inherit;border-bottom:solid 2px #444;border-top:solid 2px #444;padding:10px 0 10px 5px;background:#eee;}
    .user_badge h2 {text-shadow: 0px 0px 5px #aaa;filter: dropshadow(color=#aaa, offx=0, offy=0);color:#444;background:none;padding:0px;margin:0px;}
    .user_badge img {float:left;width:37px;height:38px;margin-right:10px;}
    
    .user_badge .meta {width:200px;font-size:80%;float:left;}
    .user_badge .meta h2 {margin-bottom:3px;}
    .user_badge .meta .left {float:left;width:50%;}
    .user_badge .meta .right {float:right;width:50%;}
  
    
.feed_entry_caption {background:#ddd;padding:4px;font-size:11px;clear:both;margin:0px;min-height:14px;overflow: hidden;text-overflow: ellipsis !important;}
.feed_entry_header {background:#444;color:#fff;padding:4px;font-size:12px;min-height:16px;margin-bottom:1px;}
    
.user_feed {float:left;}
    .user_feed .feed_entry {float:left;margin:10px 23px 10px 5px;width:150px;white-space:nowrap;}
    .user_feed .feed_entry_header .meta {float:right; font-size:80%;margin-top:2px;}

.recent_media {width:inherit; margin-top:10px; }
    .recent_media h3 { background:#444;color:#fff;padding:3px 0 3px 5px;margin-bottom:5px;}
    .recent_media .feed_entry { float:left; margin:0 5px 5px 5px; }

.following {width:inherit;margin-top:10px;clear:both;}
    .following h3 { background:#444;color:#fff;padding:3px 0 3px 5px;margin-bottom:5px;}
    .following img {width:37px;height:38px;float:left;margin:0 0px 5px 5px;}

.friends_records {}
    .friends_records .friend_record {float:left;margin:0px 10px 10px 10px;}
    
.user_photos {}
    .user_photo { clear:both; margin-bottom:20px; }
    .user_photo img { float:left; margin-right:10px; }
    
.pager.top {border-bottom:2px solid #444;}
.pager.bottom {border-top:2px solid #444;}
.pager {padding:2px;margin-bottom:10px;}
.pager a.back {float:left;margin-right:10px;}
    .pager a {padding:5px;background:#444;color:#fff;display:block;float:right;}
    
/*
 * media queries for responsive design
 * these follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	header, section, footer {width:480px; margin:0 auto 0 auto;text-align:left;}

  /* uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
