@import url("reset.css");
@import url("messages.css");
@import url("forms.css");

 /* put your styles in here */
h1 {font-size:2em;font-family:'Droid sans';}
h2 {font-family:'Droid sans';}
h3 {font-family:'Droid sans';border-bottom:solid 1px #ccc;}
p {margin: 1em 0 1em 0;}

body {
  background:#fff;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  text-align:center;
}

header, section, footer {width:1000px; margin:0 auto 0 auto;text-align:left;}
section, footer {width:980px;padding:10px;}

header {background:#eee;}
  header a#logo {float:left;padding:5px;color:#444;padding:20px 0 20px 10px;font-size:2em;font-family:'Droid sans';font-weight:bold;}
    header a#logo h1 {color:#444;padding:20px 0 20px 10px;}
    
header nav {background:#ddd;clear:both;float:left;width:100%;}
  header nav ul,
  header nav ul li {float:left;}
  header nav ul li a {color:#444;padding:10px;display:block;}
  header nav ul li a:hover,
  header nav ul li a.selected {color:#fff; background:#444;}

section footer {background:none; height:auto;padding:0px 0px 0px 15px;}
footer {background:#eee;height:80px;}

/*
 * media queries for responsive design
 * these follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	header, section, footer {width:480px; margin:0 auto 0 auto;text-align:left;}

  /* uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
