<?xml version="1.0"?>

<appSettings>
    <add key="Environment" value="Debug"/>

    <add key="Debug.ClientId" value="bfbdf77fbe934ffc8fbc710f6d15f75e"/>
    <add key="Debug.ClientSecret" value="5cca14feb8d9421e85d8950e23a80229" />
    <add key="Debug.CallBackUrl" value="http://localhost/Instagrammer/OAuth/AccessRequest/"/>

    <add key="Release.ClientId" value="a7fe00a15f394bf680ece7c8c174a0c0"/>
    <add key="Release.ClientSecret" value="5b19a18f13904738808be20f237c0957" />
    <add key="Release.CallBackUrl" value="http://instagrammer.jonezy.org/OAuth/AccessRequest/"/>
</appSettings>